<app-products></app-products>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-3">
    <div class="col mt-5" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card cardVertical zoom">
        <div class="card-header" style="clear: both">
          <h4 style="float: left">Mobiles and electronics</h4>
          <i class="categories-more-right" (click)="clickedExplore(1)"> More</i>
        </div>
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1512499617640-c74ae3a79d37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80"
          alt="Card image cap" />
        <div class="card-body">
          <h5 class="mt-5 card-text adventure-h6-caption">
            Gaming! Photography! Study! select best mobile for your work.
          </h5>
        </div>
        <div class="card-footer border-0 bg-white">
          <div class="text-center w-100">
            <button class="categories-button-button" (click)="clickedExplore(1)">
              Explore Now
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 2 -->

    <div class="col mt-5" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="3000">
      <div class="card cardVertical zoom">
        <div class="card-header">
          <h4 style="float: left">Home Appliances</h4>
          <i class="categories-more-right" (click)="clickedExplore(2)"> More</i>
        </div>

        <img class="card-img-top"
          src="https://images.pexels.com/photos/38325/vacuum-cleaner-carpet-cleaner-housework-housekeeping-38325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width: 100%" alt="Card image cap" />
        <div class="card-body">
          <h5 class="mt-5 card-text adventure-h6-caption">
            Good tactics can save even the worst strategy. Bad tactics will
            destroy even the best strategy.
          </h5>
        </div>
        <div class="card-footer border-0 bg-white">
          <div class="text-center w-100">
            <button class="categories-button-button" (click)="clickedExplore(2)">
              Explore Now
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 3 -->

    <div class="col mt-5" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="3000">
      <div class="card cardVertical zoom">
        <div class="card-header">
          <h4 style="float: left">Beauty Products</h4>
          <i class="categories-more-right" (click)="clickedExplore(3)"> More</i>
        </div>
        <img class="card-img-top responsive"
          src="https://images.pexels.com/photos/3800060/pexels-photo-3800060.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Card image cap" />
        <div class="card-body">
          <h5 class="mt-5 card-text adventure-h6-caption">
            Well, who doesn't love a bizarre true crime story?
          </h5>
        </div>
        <div class="card-footer border-0 bg-white">
          <div class="text-center w-100">
            <button class="categories-button-button" (click)="clickedExplore(3)">
              Explore Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 4 -->

  <div class="col mt-5 d-flex justify-content-center" data-aos="zoom-in-up" data-aos-easing="ease-out-cubic"
    data-aos-duration="3000">
    <div class="card categories-div-card">
      <div class="card-header">
        <h4 style="float: left">Clothing and fashion</h4>
        <i class="categories-more-right" (click)="clickedExplore(4)"> More</i>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="https://images.pexels.com/photos/934070/pexels-photo-934070.jpeg?auto=compress&cs=tinysrgb&w=1600"
            class="horizontal-card" alt="" />
        </div>

        <div class="col-md-8">
          <h5 class="mt-5 text-center adventure-h6-caption">
            “Sometimes when you innovate, you make mistakes. It is best to admit
            them quickly, and get on with improving your other innovations.”
            <br />
            <span class="spanWriter"> ― Steve Jobs </span>
          </h5>

          <div class="text-center w-100">
            <button class="categories-button-button" (click)="clickedExplore(4)">
              Explore Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 5 -->

  <div class="row row-cols-1 mt-5 row-cols-sm-3">
    <div class="col mt-5" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="3000">
      <div class="card cardVertical zoom" style="width: 100%">
        <div class="card-header">
          <h4 style="float: left">Tools</h4>
          <i class="categories-more-right" (click)="clickedExplore(5)"> More</i>
        </div>
        <img class="card-img-top" src="https://prod-images.tcm.com/Master-Profile-Images/CharlieChaplin.jpg?w=824"
          alt="Card image cap" />
        <div class="card-body">
          <h5 class="mt-5 card-text adventure-h6-caption">
            Life is a tragedy when seen in close-up, but a comedy in long-shot.
          </h5>
        </div>
        <div class="card-footer border-0 bg-white">
          <div class="text-center w-100">
            <button class="categories-button-button" (click)="clickedExplore(5)">
              Explore Now
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="col mt-5" data-aos="fade-up " data-aos-anchor-placement="center-bottom" data-aos-duration="3000">
      <div class="card cardVertical zoom" style="width: 100%">
        <div class="card-header">
          <h4 style="float: left">Laptop & desktop</h4>
          <i class="categories-more-right" (click)="clickedExplore(7)"> More</i>
        </div>
        <img class="card-img-top"
          src="https://images.pexels.com/photos/110644/pexels-photo-110644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Card image cap" />
        <div class="card-body">
          <h5 class="mt-5 card-text adventure-h6-caption">
            Need best reviewed laptop!
          </h5>
        </div>
        <div class="card-footer border-0 bg-white">
          <div class="text-center w-100">
            <button class="categories-button-button" (click)="clickedExplore(10)">
              Explore Now
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col mt-5" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="3000">
      <div class="card cardVertical zoom" style="width: 100%">
        <div class="card-header">
          <h4 style="float: left">TV and screens</h4>
          <i class="categories-more-right" (click)="clickedExplore(8)"> More</i>
        </div>
        <img class="card-img-top" src="https://images.unsplash.com/photo-1560169897-fc0cdbdfa4d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" alt="Card image cap" />
        <div class="card-body">
          <h5 class="mt-5 card-text adventure-h6-caption">
            "I believe in the resistance as I believe there can be no light
            without shadow; or rather, no shadow unless there is also light."
          </h5>
        </div>
        <div class="card-footer border-0 bg-white">
          <div class="text-center w-100">
            <button class="categories-button-button" (click)="clickedExplore(11)">
              Explore Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- 7 -->

  </div>

  <!-- 8 -->



