<div class="backImg"></div>
<!-- Button trigger modal -->
<button type="" class="btn" tabindex="-1" data-bs-toggle="modal" id="trig-button" data-bs-target="#modal-id">
</button>

<div class="modal  fade" id="modal-id" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="modal-idLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-idLabel">Modal title</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <b> Please enter verification code sent to application developer
        </b>
        <br>
        <form [formGroup]="form">
          <label for="code-id">Enter 6 digit code</label>
          <!-- {{form.controls.code.errors | json}} -->
          <input type="number" class="form-control m-2 rounded" minlength=6 maxlength=6 id="code-id"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            formControlName="code" name="code">


          <div class="fw-bold input-valid" *ngIf="formReturn.code.touched && !formReturn.code.valid">
            <div class="text-danger" *ngIf="formReturn.code.errors.required">
             Verification code is required 
            </div>
            <div class="text-danger" *ngIf="formReturn.code.errors.pattern">
              Verification code must be 6 digit long
            </div>

          </div>
        </form>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!formReturn.code.valid"
          (click)="onSubmit()">Verify</button>
      </div>
    </div>
  </div>
</div>