.backImg {
    background-image: url("https://img.freepik.com/free-vector/tiny-people-standing-near-prohibited-gesture-isolated-flat-illustration_74855-11132.jpg?t=st=1655130978~exp=1655131578~hmac=db7be16888f387c05b135563c75971056201cff9a4130ab1ee21d2edc424251b&w=1380");
    width: 100%;
    height: 900px;
}